<!DOCTYPE html>
<html lang="es">
<%- include ("partials/head.ejs") %>
<body>
  <%- include ('partials/headerShop.ejs') %>

  <main class="item__main">

      
    <section class="item__main__producto container">
      <% products.forEach((product)=>{%>
        <% if(product.product_id == id){%>
      <picture class="card-item__cover">
        <img class="card-item__img--front" src="/img<%= product.image_front %>" alt="<%= product.product_description %>">
        <img class="card-item__img--back" src="/img<%= product.image_back %>" alt="<%= product.product_description %>">
      </picture>
      <article class="item__main__producto__item">
        <p class="item__main__producto__item--licence"><%= product.licence_name %></p>
        <h3 class="item__main__producto__item--name"><%= product.product_name %></h3>
        <p class="item__main__producto__item--description"><%= product.product_description %></p>
        <p class="item__main__producto__item--price">$ <%= product.price %></p>
        <div class="item__main__producto__item--div">
          <input class="item__main__producto__item--input" type="text" name="cantidad" id="cantidad" placeholder="0" disabled>
          <div class="icons">
            <button id="add" class="item__quantity" type="button">+</button>
            <button id="subtract" class="item__quantity" type="button">-</button>
          </div>
          <button class="item__button" type="submit"><a href="/shop/cart">Agregar al Carrito</a></button>
        </div>
        <p class="item__main__producto__item--promo"><a class="item__main__producto__item--promo-link" href="#">Ver métodos de pago</a> - 3 CUOTAS SIN INTERÉS</p>
      </article>
      <% } %>
      <% }) %>
    </section>



    <section class="slider container glide">
      <!-- Carrousel -->
      <h2 class="slider__title">PRODUCTOS RELACIONADOS</h2>
      <div class="glide__track" data-glide-el="track">
        <ul class="slider__items glide__slides">
          <% products.forEach((product)=>{ %>
          <li class="slider__item glide__slide">
            <article class="card-item">
              <a class="card-item__link" href="/shop">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img class="card-item__img--front" src="/img<%= product.image_front %>" alt="<%= product.product_description %>">
                  <img class="card-item__img--back" src="/img<%= product.image_back %>" alt="<%= product.product_description %>">
                </picture>
                <div class="card-item__content">
                  <p class="card-item__licence"><%= product.licence_name %></p>
                  <h4 class="card-item__name"><%= product.product_name %></h4>
                  <p class="card-item__price">$ <%= product.price %></p>
                  <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                </div>
              </a>
            </article>
          </li>
          <% }) %>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="material-symbols:chevron-left"></iconify-icon></button>
        <End class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="material-symbols:chevron-right"></iconify-icon></button>
      </div>
    </section>

  </main>
  <%- include ("partials/footerShop.ejs") %>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script src="/js/glide.js"></script>
  <script src="/js/item.js" type="module"></script>
</body>
</html>